h1 {
    color: brown;
    font-family:Georgia, 'Times New Roman', Times, serif
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family:'Times New Roman', Times, serif;
    background-color: beige;
}

.container {
    width: 400px;
    margin: 50px auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
}